[Desktop Entry]
Type=Application
Name=MochiOS Installer
Comment=Install MochiOS to your system
Exec=konsole -e mochiinstall
Icon=system-software-install
Terminal=false
Categories=System;

