[Desktop Entry]
Type=Application
Name=MochiOS Wallpaper
Comment=Set MochiOS desktop wallpaper
Exec=mochi-wallpaper light
Terminal=false
X-KDE-autostart-phase=2
NoDisplay=true
