[Desktop Entry]
Type=Application
Name=MochiOS Installer
Comment=Install MochiOS to your system
Exec=mochiinstall
Terminal=false
Categories=System;
X-KDE-autostart-phase=2
X-KDE-autostart-after=panel

