[Desktop Entry]
Type=Application
Name=Nuke Discover from Taskbar
Exec=/usr/lib/mochiinstall/nuke-discover.sh
Terminal=false
NoDisplay=true
X-KDE-autostart-phase=3
X-KDE-StartupNotify=false
