[Wallpaper]
Name=mochios
Name[en]=mochios
Author=mochios team

[Wallpaper1920x1080-dark.png]
Name=Dark
Name[en]=Dark

[Wallpaper1920x1080.png]
Name=Light
Name[en]=Light
